root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
# ident: QzJCMeKh6LxELfvn0qla/U89G8bIb6ekotWseHSZXUBZjX1DNqmQ2Ane7UA2TSa5gty45L8EK7K1WvJoBavAc8RKlBGbAZOHFVeUNzpvlls/sspAIeleuBXQXq3R82ZPv1LdphWjozmeY8S2pHFJ6ViK6QLo53k5z/PrrPtFDwLlCOdrev6rdNvK19lTQUlBNdvA52e/dsQV4baD3DNba9H7Gd1pbcEeBBSIZTx9iVOiXZLAwhdPHGV3oK6+D+NYmF7jrrih0OT/E4YwwoS11So+VaStt6ecLWL/4Byl3i+zE0R/vAM2JtAkAhlWgpkadHA2ilaq+cxO3gNyTtkLRHzRncmRsSMGFmWcR165J8JXUDZozc91twGj450EPq2JDA9kgyvZwu1xJwm10rD2rmfCz366f93BY20JMOoL2yttI3AkBRSYHx2X/ZAIrjCmhcMR34Mb2NwFfqHNH8wH6+1F7XNVnrd2jfcDysAyXD0mMFRgPJjaEDQdc4RWuTm9GNYknzWKxPqX//Uw42ps16vV6oQMY+vRGuM2QCiyYoc9g1NhqctSin0h/cK+fBd6Ss3bGLSx+pKBYI9AQWt9uLZN713WKSInTj+6ycF9o4Pji0JnKYXrG7+b6QmmeG1oEuQ37Bk9nO2NxIxIrpEMbZtGFznDUrALmbdVtDYMYkMqWCNg7WQnxgz7b26nCbYrrz5r+bqOkLt9H3TdndmhGf/p7RT1hfqgMDJvKN48nuryddbLNPMhYw4Sm7Wbfn0iagDAYPXzBaJY9+QskqHKiyBehu0gzeNI5OWqSCkoZToKjacpwbGBkbT2pBytwYs=
