root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
# ident: QzJCMV/L5CSYmB6S28R1kWnkn7fO9tmo0CNJOmFc8rlIIRf0b4pyep evISeXGXzYURAI/b04YrhwQah6LsD/N3jT5HFOatsr32qfFvINvanK/tXV5R8rmSllsWZX6UfkdYWXLfa5fFtISkHaj5QQKSdACWFEWNUS4Sq/gswcu4AZ9B480M3iF4Qd06SCS5Cdt+NcHfVen1/3KDgNsNWLqQItbTWLCBH5fTlW/6ztrpEYm4BelSQYylmG35ML+448LLEIHiAuoJX1F6FKztGLN6h5Wel414AHVqLTlQiqSARhVlSIVXCLVbJo1EkZ4yEuVluzOY9pj65UyBXpp0ZvEOkXhOQJoYz/fSDM4/Ndm7/ih/WNeM+rVKnUBXf4ILhLGFcuS4ene9X0QGvneTPj9PvyAf0d3xmD+qQXBW2n8Hfx3izObu31dYKpMJFU1j53j8/dkYL8BRAuiyykt6aDOta2DgMm93DKoBlgZEOLfLiT9Wukw23fdikYtVS8ned8m1IbOn4ZnKvpq3PedGeHXjs7btdZ0wX1Q7vOoorTFLKbaz1uAHT3hr3r4AtQSuv6IHPUlzt
