root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
# ident: QzJCMe28jWh3QFujX9bY+9rCC1r10adW7aqPqaPce/OBrseRqK1KwAZWEbXSl0oOgk52SxkQGSF2KQGWNVyJvcARrd5dk0eRb9BOEinYtIIIy1s6VCWFfkXwhUQp2nJN4NNPpYuRn4n0MOwZBmj0h2wCUhlemN+4dOaPACcJAl6sE7VOk2jiaxBxgAc+sMNul22zQVG87XkHNQcFJVbTigeAQzL6z+l6yx/FdGzIVAHAZQt1ufaAmDoujBjdejQJu1bzCKM6hQlQWLcJzC6S+qa9TOFa3SnV5zMgVki7lujkyUBwF1p1Ok5AZberilAkeaeHTwRis2P/zsaSbOtuXNVXP2AsO4fPLv0cYi1LoV8QU8KCOYAxYQoSmZ/+mcDxThEz4LazgFMjAKCJHCWlmPS9zpuoXtcuojdIKp53Hn7Gh2RHmalNPVkBkCgV2kbcI4n3uKpzPApYpY2Vxxp2MXF2gVG1jEEFq2z/bYPr5iw0aJLolwNSjotJN0Qt/NHlggYAX7JeLE1pA5JmCq8gLdJnrmiKvZGbMUxvsxY5w+6z+I9eYub0oy6nts8f3eW+Q8KK6sZYfOKj0yjMGdGEhRyqy9lvsEE3japUnjqaONJq1g9eibjcnoeYhEf9UTpalUvJoC5OWx2bFnZP10yfvQgCX8pYgcAutnwBlWBlZAOXHTffVvjL5IfWQRpVnQe4wSNxJScyxLYpTlBQDb6Bfs7S3rv2jQW5pg4bze6n0J7JxxCoq11NgX4edPwEFTUdKfBTGBnFOpLrOJJW3tCWwgHE6LgVrOntLN/B7qZMVPSqzr1/WFqtmtgHWAGWfCk=
